{% extends 'base.html.twig' %}

{% block title %}s'inscrire{% endblock %}

{% block stylesheets %}
    <style>
        .login-container {
            max-width: 500px;
            margin: 100px auto;
            padding: 30px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
        .login-container h1 {
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .form-label {
            margin-bottom: 0.5rem;
        }
        .input-group-text {
            background-color: #fff;
        }
        .btn {
            padding: 0.5rem 1rem;
            font-size: 1rem;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="login-container">
        <h1 class="text-center mb-4">créer un compte</h1>

        {{ form_start(registrationForm) }}
            {{ form_errors(registrationForm) }}

            <div class="form-group mb-3">
                <label for="username" class="form-label">Email :</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    {{ form_widget(registrationForm.email, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Email',
                            'autofocus': true
                        }
                    }) }}
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="password" class="form-label">Mot de passe :</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    {{ form_widget(registrationForm.plainPassword, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Mot de passe'
                        }
                    }) }}
                </div>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">créer </button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
    <h1 style="padding-top: 350px; text-align: center;"> </h1>
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

{% endblock %}
