
{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% set home_active = 'active' %}

{% block body %}

    <h1 style="padding-top: 100px;text-align: center;">Reserver un evenement</h1>



    <section class="Event section">
        <div class="container">
            {{ form_start(form) }}
            
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.nom) }}
                </div>
                

                
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.password) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{{ path('app_Sinpage') }}"><input style="margin: 80px; " type="submit" value="OK" class="btn btn-primary" ></a>
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}
 