{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% set home_active = 'active' %}

{% block body %}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Détails du coach</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="speaker-wrap ftco-animate d-flex">
                    <div class="img speaker-img" style="background-image: url({{ asset('images/' ~ coach.image) }});"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ftco-search">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">ID</th>
                                <td>{{ coach.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Nom</th>
                                <td>{{ coach.nom }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Specialité</th>
                                <td>{{ coach.specialite }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('coach.edit', {'id': coach.id}) }}" class="btn btn-primary">🖊️Editer</a>
                        <a href="{{ path('coach.delete', {'id': coach.id}) }}" class="btn btn-primary">🧹supprimer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
